*{
    margin: 0;
    padding: 0;
}

/*Header*/
.headerLeft img{
    object-fit: contain;
    width: 150px;
    height: auto;
    margin-left: 5px;

}

.header{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.headerLeft{
    display: flex;
    align-items: center;
}

.headerCenter{
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.headerCenter input{
    border: none;
    width: 100%;
    padding: 1px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}

.headerRight img{
    object-fit: contain;
    width: 42px;
    height: auto;
    margin-right: 10px;
    margin-top: 5px;
}

.headerRight p{
    text-align: center;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: Arial;
    font-size: 15px;
}

.sidebar{
    flex: 0.3;
    max-width: 250px;
    padding-right: 8px;
    border-right: 1px solid whitesmoke;
}

.sidebarHeader{
    display: flex;
    align-items: center;
    height:50px;
    padding: 0 10px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    font-family: Arial;
}

.sidebarOption{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    color: #818181;
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid lightgrey;
}

.sidebarOption p{
    flex: 1;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial;
}

.sidebarOption:hover,
.sidebarOption:hover p{
    background-color: whitesmoke;
}

.sidebarOptionActive,
.sidebarOptionActive:hover,
.sidebarOptionActive:hover p,
.sidebarOptionActive p{
    background-color: #fcecec;
    color: #990000;
    font-weight: 600;
}

.credits{
    display: flex;
    flex-direction:column;
    font-family: Arial;
    color: darkslategrey;
    font-size: 12px;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    max-width: inherit;
    width:100%;
    padding: 8px;
}

.mainBody{
    display: flex;
    height: 88vh;
    overflow-y: hidden;
}

.bodyText{
    flex: 1;
    overflow: scroll;
    margin-left: 8px;
}

.entryRow{
    border: 1px solid darkgrey;
    margin-right:8px;
}

.entryRow:hover{
    background-color: whitesmoke;
}

.mailLink{
    text-decoration:none;
}

.sender p{
    font-family: Arial;
    font-weight: 600;
    font-size: 17px;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 4px;
    color: black;
}

.subject p{
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 3px;
    margin-left: 4px;
    color: black;
}

.preview p{
    font-family: Arial;
    font-size: 13px;
    color: slategrey;
    margin-bottom: 6px;
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}